body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:1937px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u971 {
  position:absolute;
  left:71px;
  top:55px;
  width:904px;
  height:1937px;
}
#u972 {
  position:absolute;
  left:2px;
  top:960px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:75px;
}
#u973 {
  position:absolute;
  left:72px;
  top:55px;
  width:900px;
  height:75px;
}
#u974 {
  position:absolute;
  left:2px;
  top:30px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:105px;
  top:153px;
  width:839px;
  height:179px;
}
#u976 {
  position:absolute;
  left:2px;
  top:82px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u977 {
  position:absolute;
  left:180px;
  top:222px;
  width:25px;
  height:25px;
}
#u978 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u979 {
  position:absolute;
  left:211px;
  top:224px;
  width:127px;
  height:20px;
  color:#797979;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u981 {
  position:absolute;
  left:461px;
  top:222px;
  width:25px;
  height:25px;
}
#u982 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u983 {
  position:absolute;
  left:492px;
  top:224px;
  width:99px;
  height:20px;
  color:#797979;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u985 {
  position:absolute;
  left:248px;
  top:259px;
  width:32px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u987 {
  position:absolute;
  left:518px;
  top:259px;
  width:32px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  position:absolute;
  left:105px;
  top:342px;
  width:839px;
  height:486px;
}
#u990 {
  position:absolute;
  left:2px;
  top:235px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u991 {
  position:absolute;
  left:138px;
  top:419px;
  width:121px;
  height:77px;
}
#u992 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u993 {
  position:absolute;
  left:273px;
  top:417px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u995 {
  position:absolute;
  left:274px;
  top:448px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  position:absolute;
  left:105px;
  top:511px;
  width:839px;
  height:116px;
}
#u998 {
  position:absolute;
  left:2px;
  top:50px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u999 {
  position:absolute;
  left:134px;
  top:530px;
  width:121px;
  height:77px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1001 {
  position:absolute;
  left:269px;
  top:528px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1003 {
  position:absolute;
  left:270px;
  top:559px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1005 {
  position:absolute;
  left:134px;
  top:644px;
  width:121px;
  height:77px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1007 {
  position:absolute;
  left:270px;
  top:641px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1009 {
  position:absolute;
  left:270px;
  top:673px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#66A137;
}
#u1011 {
  position:absolute;
  left:134px;
  top:367px;
  width:314px;
  height:22px;
  font-size:16px;
  color:#66A137;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66A137;
}
#u1013 {
  position:absolute;
  left:134px;
  top:174px;
  width:97px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66A137;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1015 {
  position:absolute;
  left:702px;
  top:222px;
  width:25px;
  height:25px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66A137;
}
#u1017 {
  position:absolute;
  left:733px;
  top:224px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66A137;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66A137;
}
#u1019 {
  position:absolute;
  left:795px;
  top:259px;
  width:17px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66A137;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:2px;
}
#u1021 {
  position:absolute;
  left:105px;
  top:746px;
  width:839px;
  height:1px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:134px;
  top:777px;
  width:155px;
  height:20px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1025 {
  position:absolute;
  left:635px;
  top:778px;
  width:100px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u1026 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1025_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u1027 {
  position:absolute;
  left:807px;
  top:778px;
  width:100px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u1028 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1027_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:532px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:105px;
  top:878px;
  width:839px;
  height:532px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:258px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1031 {
  position:absolute;
  left:138px;
  top:955px;
  width:121px;
  height:77px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1033 {
  position:absolute;
  left:273px;
  top:953px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1035 {
  position:absolute;
  left:134px;
  top:1066px;
  width:121px;
  height:77px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1037 {
  position:absolute;
  left:269px;
  top:1064px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1039 {
  position:absolute;
  left:134px;
  top:1180px;
  width:121px;
  height:77px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1041 {
  position:absolute;
  left:270px;
  top:1180px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#66A137;
}
#u1043 {
  position:absolute;
  left:134px;
  top:903px;
  width:282px;
  height:22px;
  font-size:16px;
  color:#66A137;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:2px;
}
#u1045 {
  position:absolute;
  left:105px;
  top:1282px;
  width:839px;
  height:1px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:-8px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66A137;
}
#u1047 {
  position:absolute;
  left:161px;
  top:1307px;
  width:49px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66A137;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:2px;
}
#u1049 {
  position:absolute;
  left:393px;
  top:854px;
  width:69px;
  height:1px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u1051 {
  position:absolute;
  left:496px;
  top:845px;
  width:85px;
  height:20px;
  color:#AEAEAE;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:2px;
}
#u1053 {
  position:absolute;
  left:606px;
  top:855px;
  width:69px;
  height:1px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:-8px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1055 {
  position:absolute;
  left:161px;
  top:1345px;
  width:747px;
  height:40px;
  color:#868686;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  white-space:nowrap;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1057 {
  position:absolute;
  left:277px;
  top:985px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1059 {
  position:absolute;
  left:273px;
  top:1096px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1061 {
  position:absolute;
  left:273px;
  top:1210px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:862px;
  top:540px;
  width:45px;
  height:45px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1065 {
  position:absolute;
  left:872px;
  top:550px;
  width:25px;
  height:25px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
}
#u1067 {
  position:absolute;
  left:862px;
  top:593px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:105px;
  top:1429px;
  width:839px;
  height:480px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:232px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1071 {
  position:absolute;
  left:138px;
  top:1506px;
  width:121px;
  height:77px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1073 {
  position:absolute;
  left:273px;
  top:1504px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1075 {
  position:absolute;
  left:134px;
  top:1617px;
  width:121px;
  height:77px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1077 {
  position:absolute;
  left:269px;
  top:1615px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1079 {
  position:absolute;
  left:134px;
  top:1731px;
  width:121px;
  height:77px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1081 {
  position:absolute;
  left:270px;
  top:1731px;
  width:337px;
  height:22px;
  font-size:16px;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#66A137;
}
#u1083 {
  position:absolute;
  left:134px;
  top:1454px;
  width:282px;
  height:22px;
  font-size:16px;
  color:#66A137;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:2px;
}
#u1085 {
  position:absolute;
  left:105px;
  top:1833px;
  width:839px;
  height:1px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66A137;
}
#u1087 {
  position:absolute;
  left:161px;
  top:1858px;
  width:49px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66A137;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1089 {
  position:absolute;
  left:277px;
  top:1536px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1091 {
  position:absolute;
  left:273px;
  top:1647px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1093 {
  position:absolute;
  left:273px;
  top:1761px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
}
#u1095 {
  position:absolute;
  left:269px;
  top:1563px;
  width:108px;
  height:24px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
}
#u1097 {
  position:absolute;
  left:266px;
  top:1676px;
  width:108px;
  height:24px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
}
#u1099 {
  position:absolute;
  left:265px;
  top:1788px;
  width:108px;
  height:24px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
