body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:962px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:66px;
  top:79px;
  width:309px;
  height:962px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:473px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:42px;
}
#u1018 {
  position:absolute;
  left:83px;
  top:108px;
  width:274px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#1B1B1B;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:172px;
}
#u1020 {
  position:absolute;
  left:83px;
  top:169px;
  width:274px;
  height:171px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:76px;
  width:270px;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:83px;
  top:357px;
  width:274px;
  height:43px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:14px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  position:absolute;
  left:104px;
  top:369px;
  width:128px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1026 {
  position:absolute;
  left:187px;
  top:451px;
  width:65px;
  height:65px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:300px;
  top:467px;
  width:33px;
  height:20px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AEAEAE;
}
#u1030 {
  position:absolute;
  left:295px;
  top:493px;
  width:51px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:102px;
  top:467px;
  width:29px;
  height:20px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AEAEAE;
}
#u1034 {
  position:absolute;
  left:93px;
  top:493px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:83px;
  top:417px;
  width:274px;
  height:4px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:-6px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1038 {
  position:absolute;
  left:113px;
  top:414px;
  width:10px;
  height:10px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#AEAEAE;
}
#u1040 {
  position:absolute;
  left:83px;
  top:437px;
  width:24px;
  height:20px;
  font-size:9px;
  color:#AEAEAE;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#AEAEAE;
}
#u1042 {
  position:absolute;
  left:335px;
  top:431px;
  width:24px;
  height:20px;
  font-size:9px;
  color:#AEAEAE;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:67px;
  top:539px;
  width:307px;
  height:4px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:-6px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:108px;
}
#u1046 {
  position:absolute;
  left:83px;
  top:593px;
  width:274px;
  height:108px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:15px;
}
#u1048 {
  position:absolute;
  left:83px;
  top:562px;
  width:61px;
  height:21px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:15px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:131px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:83px;
  top:727px;
  width:274px;
  height:131px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:58px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:93px;
  top:740px;
  width:253px;
  height:108px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:46px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
}
#u1054 {
  position:absolute;
  left:109px;
  top:763px;
  width:222px;
  height:36px;
  font-family:'ChalkboardSE-Bold', 'Chalkboard SE Bold', 'Chalkboard SE';
  font-weight:700;
  font-style:normal;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u1056 {
  position:absolute;
  left:235px;
  top:826px;
  width:26px;
  height:1px;
  color:#A1A1A1;
}
#u1057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A1A1A1;
}
#u1058 {
  position:absolute;
  left:273px;
  top:819px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#A1A1A1;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:67px;
  top:884px;
  width:307px;
  height:4px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:-6px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:15px;
}
#u1062 {
  position:absolute;
  left:83px;
  top:907px;
  width:31px;
  height:21px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:15px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:81px;
  top:938px;
  width:129px;
  height:80px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:92px;
  top:946px;
  width:46px;
  height:16px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1068 {
  position:absolute;
  left:92px;
  top:972px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:216px;
  top:938px;
  width:129px;
  height:80px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  position:absolute;
  left:227px;
  top:946px;
  width:46px;
  height:16px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1074 {
  position:absolute;
  left:227px;
  top:972px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076 {
  position:absolute;
  left:351px;
  top:938px;
  width:23px;
  height:80px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1078 {
  position:absolute;
  left:92px;
  top:999px;
  width:12px;
  height:12px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1080 {
  position:absolute;
  left:108px;
  top:997px;
  width:37px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1082 {
  position:absolute;
  left:227px;
  top:999px;
  width:12px;
  height:12px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1084 {
  position:absolute;
  left:243px;
  top:997px;
  width:37px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1086 {
  position:absolute;
  left:175px;
  top:927px;
  width:31px;
  height:31px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:442px;
  top:150px;
  width:239px;
  height:40px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#66A137;
  text-align:center;
}
#u1090 {
  position:absolute;
  left:442px;
  top:220px;
  width:95px;
  height:42px;
  color:#66A137;
  text-align:center;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:729px;
  top:79px;
  width:309px;
  height:541px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:262px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1094 {
  position:absolute;
  left:729px;
  top:49px;
  width:85px;
  height:20px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:161px;
}
#u1096 {
  position:absolute;
  left:792px;
  top:129px;
  width:175px;
  height:160px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:71px;
  width:171px;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1098 {
  position:absolute;
  left:836px;
  top:316px;
  width:89px;
  height:30px;
  font-family:'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u1100 {
  position:absolute;
  left:813px;
  top:356px;
  width:141px;
  height:20px;
  font-size:14px;
  color:#A1A1A1;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:76px;
  background:inherit;
  background-color:rgba(102, 161, 55, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  position:absolute;
  left:730px;
  top:394px;
  width:307px;
  height:76px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:30px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
}
#u1104 {
  position:absolute;
  left:793px;
  top:420px;
  width:182px;
  height:24px;
  font-size:17px;
  color:#FFFFFF;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  position:absolute;
  left:814px;
  top:503px;
  width:140px;
  height:40px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u1108 {
  position:absolute;
  left:856px;
  top:570px;
  width:57px;
  height:20px;
  color:#A1A1A1;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  position:absolute;
  left:1081px;
  top:76px;
  width:309px;
  height:522px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:253px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:161px;
}
#u1112 {
  position:absolute;
  left:1146px;
  top:237px;
  width:175px;
  height:160px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:71px;
  width:171px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1114 {
  position:absolute;
  left:1190px;
  top:416px;
  width:89px;
  height:30px;
  font-family:'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1115 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u1116 {
  position:absolute;
  left:1167px;
  top:456px;
  width:141px;
  height:20px;
  font-size:14px;
  color:#A1A1A1;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:85px;
  background:inherit;
  background-color:rgba(102, 161, 55, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1118 {
  position:absolute;
  left:1082px;
  top:513px;
  width:307px;
  height:85px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:34px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1120 {
  position:absolute;
  left:1199px;
  top:116px;
  width:65px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1121 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u1122 {
  position:absolute;
  left:1182px;
  top:190px;
  width:103px;
  height:20px;
  font-size:14px;
  color:#363636;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
}
#u1124 {
  position:absolute;
  left:1097px;
  top:531px;
  width:48px;
  height:49px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1126 {
  position:absolute;
  left:1155px;
  top:534px;
  width:43px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1127 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1128 {
  position:absolute;
  left:1155px;
  top:560px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u1129 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
}
#u1130 {
  position:absolute;
  left:1307px;
  top:522px;
  width:48px;
  height:49px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1132 {
  position:absolute;
  left:1284px;
  top:576px;
  width:91px;
  height:14px;
  font-size:10px;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1134 {
  position:absolute;
  left:1087px;
  top:614px;
  width:301px;
  height:15px;
  font-size:12px;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1136 {
  position:absolute;
  left:954px;
  top:523px;
  width:0px;
  height:0px;
}
#u1136_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1136_seg1 {
  position:absolute;
  left:97px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1137 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
