body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:1088px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:71px;
  top:55px;
  width:1006px;
  height:1088px;
}
#u729 {
  position:absolute;
  left:2px;
  top:536px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:75px;
}
#u730 {
  position:absolute;
  left:72px;
  top:55px;
  width:1003px;
  height:75px;
}
#u731 {
  position:absolute;
  left:2px;
  top:30px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:323px;
  top:57px;
  width:269px;
  height:73px;
}
#u733 {
  position:absolute;
  left:2px;
  top:28px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u734 {
  position:absolute;
  left:376px;
  top:84px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u736_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:97px;
  height:5px;
}
#u736 {
  position:absolute;
  left:357px;
  top:129px;
  width:94px;
  height:2px;
}
#u737 {
  position:absolute;
  left:2px;
  top:-7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:878px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:111px;
  top:162px;
  width:932px;
  height:878px;
}
#u739 {
  position:absolute;
  left:2px;
  top:431px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:139px;
  top:188px;
  width:141px;
  height:20px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:442px;
}
#u742 {
  position:absolute;
  left:139px;
  top:232px;
  width:104px;
  height:442px;
}
#u743 {
  position:absolute;
  left:2px;
  top:213px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:442px;
}
#u744 {
  position:absolute;
  left:251px;
  top:232px;
  width:237px;
  height:442px;
}
#u745 {
  position:absolute;
  left:2px;
  top:213px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:75px;
}
#u746 {
  position:absolute;
  left:498px;
  top:232px;
  width:509px;
  height:75px;
}
#u747 {
  position:absolute;
  left:2px;
  top:30px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:104px;
}
#u748 {
  position:absolute;
  left:514px;
  top:327px;
  width:480px;
  height:104px;
}
#u749 {
  position:absolute;
  left:2px;
  top:44px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:2px;
}
#u750 {
  position:absolute;
  left:514px;
  top:310px;
  width:499px;
  height:1px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-8px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:2px;
}
#u752 {
  position:absolute;
  left:514px;
  top:419px;
  width:499px;
  height:1px;
}
#u753 {
  position:absolute;
  left:2px;
  top:-8px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:318px;
}
#u754 {
  position:absolute;
  left:507px;
  top:443px;
  width:466px;
  height:318px;
}
#u755 {
  position:absolute;
  left:2px;
  top:151px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:809px;
}
#u756 {
  position:absolute;
  left:503px;
  top:232px;
  width:1px;
  height:808px;
}
#u757 {
  position:absolute;
  left:2px;
  top:396px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:269px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  position:absolute;
  left:504px;
  top:771px;
  width:539px;
  height:269px;
}
#u759 {
  position:absolute;
  left:2px;
  top:126px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:264px;
}
#u760 {
  position:absolute;
  left:525px;
  top:771px;
  width:459px;
  height:264px;
}
#u761 {
  position:absolute;
  left:2px;
  top:124px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  position:absolute;
  left:639px;
  top:1077px;
  width:140px;
  height:40px;
}
#u763 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  position:absolute;
  left:803px;
  top:1077px;
  width:140px;
  height:40px;
}
#u765 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u766 {
  position:absolute;
  left:523px;
  top:84px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
