body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:554px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:108px;
  top:63px;
  width:309px;
  height:554px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:269px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u1424 {
  position:absolute;
  left:108px;
  top:572px;
  width:309px;
  height:1px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u1426 {
  position:absolute;
  left:262px;
  top:572px;
  width:1px;
  height:45px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1428 {
  position:absolute;
  left:170px;
  top:585px;
  width:29px;
  height:20px;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:322px;
  top:585px;
  width:29px;
  height:20px;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1432 {
  position:absolute;
  left:136px;
  top:110px;
  width:55px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1433 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1434 {
  position:absolute;
  left:209px;
  top:116px;
  width:113px;
  height:20px;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u1436 {
  position:absolute;
  left:209px;
  top:144px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#FF9900;
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:6px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1438 {
  position:absolute;
  left:109px;
  top:190px;
  width:307px;
  height:6px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:-5px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1440 {
  position:absolute;
  left:129px;
  top:220px;
  width:57px;
  height:20px;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1442 {
  position:absolute;
  left:122px;
  top:253px;
  width:278px;
  height:1px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444 {
  position:absolute;
  left:387px;
  top:224px;
  width:13px;
  height:16px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1446 {
  position:absolute;
  left:129px;
  top:269px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1447 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1448 {
  position:absolute;
  left:122px;
  top:302px;
  width:278px;
  height:1px;
}
#u1449 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:387px;
  top:273px;
  width:13px;
  height:16px;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1452 {
  position:absolute;
  left:129px;
  top:323px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1454 {
  position:absolute;
  left:387px;
  top:327px;
  width:13px;
  height:16px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:6px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1456 {
  position:absolute;
  left:109px;
  top:410px;
  width:307px;
  height:6px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:-5px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1458 {
  position:absolute;
  left:129px;
  top:435px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:387px;
  top:439px;
  width:13px;
  height:16px;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1462 {
  position:absolute;
  left:122px;
  top:471px;
  width:278px;
  height:1px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1464 {
  position:absolute;
  left:129px;
  top:489px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  position:absolute;
  left:387px;
  top:493px;
  width:13px;
  height:16px;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1468 {
  position:absolute;
  left:122px;
  top:525px;
  width:278px;
  height:1px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1470 {
  position:absolute;
  left:122px;
  top:357px;
  width:278px;
  height:1px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1472 {
  position:absolute;
  left:129px;
  top:372px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1473 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1474 {
  position:absolute;
  left:387px;
  top:376px;
  width:13px;
  height:16px;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
