body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:554px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  position:absolute;
  left:108px;
  top:63px;
  width:309px;
  height:554px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:269px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u1370 {
  position:absolute;
  left:108px;
  top:572px;
  width:309px;
  height:1px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u1372 {
  position:absolute;
  left:262px;
  top:572px;
  width:1px;
  height:45px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:170px;
  top:585px;
  width:29px;
  height:20px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:322px;
  top:585px;
  width:29px;
  height:20px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1378 {
  position:absolute;
  left:136px;
  top:110px;
  width:55px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1379 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:209px;
  top:116px;
  width:113px;
  height:20px;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u1382 {
  position:absolute;
  left:209px;
  top:144px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#FF9900;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:6px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1384 {
  position:absolute;
  left:109px;
  top:190px;
  width:307px;
  height:6px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:-5px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1386 {
  position:absolute;
  left:129px;
  top:220px;
  width:57px;
  height:20px;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1388 {
  position:absolute;
  left:122px;
  top:253px;
  width:278px;
  height:1px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1390 {
  position:absolute;
  left:387px;
  top:224px;
  width:13px;
  height:16px;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1392 {
  position:absolute;
  left:129px;
  top:269px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1394 {
  position:absolute;
  left:122px;
  top:302px;
  width:278px;
  height:1px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1396 {
  position:absolute;
  left:387px;
  top:273px;
  width:13px;
  height:16px;
}
#u1397 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1398 {
  position:absolute;
  left:129px;
  top:323px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1400 {
  position:absolute;
  left:387px;
  top:327px;
  width:13px;
  height:16px;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:6px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1402 {
  position:absolute;
  left:109px;
  top:410px;
  width:307px;
  height:6px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:-5px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1404 {
  position:absolute;
  left:129px;
  top:435px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  position:absolute;
  left:387px;
  top:439px;
  width:13px;
  height:16px;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1408 {
  position:absolute;
  left:122px;
  top:471px;
  width:278px;
  height:1px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1410 {
  position:absolute;
  left:129px;
  top:489px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:387px;
  top:493px;
  width:13px;
  height:16px;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1414 {
  position:absolute;
  left:122px;
  top:525px;
  width:278px;
  height:1px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1416 {
  position:absolute;
  left:122px;
  top:357px;
  width:278px;
  height:1px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1418 {
  position:absolute;
  left:129px;
  top:372px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1420 {
  position:absolute;
  left:387px;
  top:376px;
  width:13px;
  height:16px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
